.about {
    background-color: #B6CDD8;
    .about__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .about__image-container {
            margin: 25px 0 0 0;
            img {
                width: 500px;
                height: 500px;
                object-fit: cover;
                @include circle-image;
            }
        }
        .about__bio {
            max-width: 750px;
            margin: 25px auto 0;
            p, li, a {
                font-size: 18px;
                line-height: 1.5;
                text-align: center;
            }
        }
    }
}