.about {
    background-color: #B6CDD8;
    .about__main {
        display: flex;
        justify-content: space-between;
        @media (max-width: $tablet) {
            flex-direction: column;
        }
        .about__image-container {
            width: 45%;
            @media (max-width: $tablet) {
                width: 100%;
            }
        }
        .about__bio {
            width: 50%;
            @media (max-width: $tablet) {
                width: 100%;
            }
            .about__logos {
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin: 25px 0 0 0;
                img {
                    width: 45%;
                    height: auto;
                }
            }
        }
    }
}