.elementum {
    h2 {
        text-align: center;
    }
    #elementum-container {
        margin: 45px 0 0 0;
        max-height: 80vh;
        @media (pointer:none), (pointer:coarse) {
            display: none;
        }
        canvas {
            border: 3px solid $black;
        }
    }
    .elementum__image {
        display: none;
        flex-direction: column;
        margin: 45px 0 0 0;
        border: 3px solid $black;
        @media (pointer:none), (pointer:coarse) {
            display: flex;
        }
        p {
            font-size: 14px;
            margin: 0;
            color: #FFFFFF;
            background-color: #404040;
            padding: 5px 15px;
        }
    }
}