html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

* {
    font-family: "Rubik-Regular";
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Rubik-Bold";
}

h1 {
    font-size: 72px;
    margin: 0;
    text-transform: uppercase;
}
h2 {
    font-size: 42px;
    margin: 0;
}
h3 {
    font-size: 34px;
    margin: 0;
}

.section {
    height: calc(100vh - 75px);
    scroll-margin-top: 75px;
    &.home {
        height: 100vh;
    }
    .page-width {
        padding: 75px 0;
        height: calc(100% - 150px);
    }
}

.page-width {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    @include breakpoint($laptop) {
        max-width: 900px;
    }
    @include breakpoint($tablet) {
        max-width: 768px;
    }
    @include breakpoint($mobile) {
        max-width: 90vw;
    }
}

img {
    max-width: 100%;
}

// Animations
@keyframes slide-down {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
    }
}