html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

* {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

h1 {
    font-size: 72px;
    margin: 0;
    text-transform: uppercase;
}
h2 {
    font-size: 42px;
    margin: 0;
}
h3 {
    font-size: 34px;
    margin: 0;
}

ul {
    padding-left: 20px;
    li {
        &:not(:first-of-type) {
            margin: 10px 0 0 0;
        }
    }
}

.section {
    scroll-margin-top: 75px;
    &.home {
        height: 100vh;
    }
    .page-width {
        padding: 75px 0;
    }
}

.page-width {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    @include breakpoint($laptop) {
        max-width: 900px;
    }
    @include breakpoint($tablet) {
        max-width: 768px;
    }
    @include breakpoint($mobile) {
        max-width: 90vw;
    }
    &.page-width--full {
        max-width: 90vw;
    }
}

img {
    max-width: 100%;
}