.home {
    background-color: #D5EAE2;
    padding-top: 75px;
    .home__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        .home__image-container {
            width: 500px;
            height: 500px;
            margin: 0 auto;
            border-radius: 100%;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .home__content {
            margin: 25px 0 0 0;
            text-align: center;
            .home__title {
                margin: 0;
            }
            .home__career {
                margin: 5px 0 0 0;
            }
            .home__degree {
                margin: 5px 0 0 0;
            }
        }
    }
}