.home {
    background-color: #D5EAE2;
    .home__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        .home__image-container {
            img {
                width: 500px;
                height: 500px;
                object-fit: cover;
                @include circle-image;
            }
        }
        .home__content {
            margin: 25px 0 0 0;
            text-align: center;
            .home__title {
                margin: 0;
            }
            .home__career {
                margin: 5px 0 0 0;
            }
            .home__degree {
                margin: 5px 0 0 0;
            }
        }
    }
}